@import "compass/css3";

$black: #333;
$while: #fff;
$red: #d2322d;
$green: #47a447;
$yellow: #ed9c28;
$blue: #0088cc;

$blackHover: #444;
$whileHover: #e6e6e6;
$redHover: #d64742;
$greenHover: #51b451;
$yellowHover: #efa740;
$blueHover: #0099e6;

$menuBgColor: #171717;
$menuBoderColor: #3a3a3a;
$menuFontColor: #abb4be;
$menuHoverFontColor: #fff;
$menuHoverBgColor: #21262d;
$menuActiveColor: #fff;

$headeHeight: 60px;
$menuTitleHeight: 50px;
$menuWidth: 150px;

* {
    @include box-sizing(border-box);
}

body {
    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1.00);
    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #ecedf0;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: $headeHeight;
    background: #fff;
    z-index: 900;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid #E9E9E6;
    > .logo-container {
        max-width: $menuWidth;
        height: 100%;
    }
    > .header-right {
        height: 100%;
        > .userbox {
            display: flex;
            width: 230px;
            height: 100%;
            padding: 0 10px;
            border-left: 2px solid #F6F6F6;
            cursor: pointer;
            text-align: left;
            vertical-align: middle;
            align-items: center;
            > .user-photo {
                display: inline-block;
                width: $headeHeight;
                min-width: $headeHeight;
                height: 100%;
                > img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    @include border-radius(50%);
                }
            }
            > .profile-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                margin: 0 10px;
                max-width: 110px;
                > .email {
                    width: 100%;
                    overflow: hidden;
                    text-overflow : ellipsis;
                    white-space: nowrap;
                    color: $black;
                    font-size: 14px;
                }
                > .role {
                    color: #ACACAC;
                    font-size: 12px;
                }
            }
        }
    }
}

nav {
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 800;
    div.menu {
        color: $menuFontColor;
        padding-top: $headeHeight;
        width: $menuWidth;
        height: 100%;
        background-color: $menuBgColor;
        .menu-header {
            position: relative;
            height: $menuTitleHeight;
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 15px;
            border-bottom: 1px solid $menuBoderColor;
            @include user-select(none);
            .menu-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: $menuTitleHeight;
                height: $menuTitleHeight;
                top: 0;
                right: 0;
                border-left: 1px solid $menuBoderColor;
                border-right: 1px solid $menuBoderColor;
                &:hover {
                    cursor: pointer;
                    background-color: $menuHoverBgColor;
                    color: $menuHoverFontColor;
                }
            }
        }

        ul.menu {
            margin: 0;
            padding: 0;
            list-style-type: none;
            color: $menuFontColor;
            > li {
                position: relative;
                border-top: 1px solid $menuBoderColor;
                > a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    white-space: nowrap;
                    padding: 15px 10px;
                    text-align: center;
                    color: $menuFontColor;
                    > i {
                        font-size: 2rem;
                        margin-right: 0;
                        vertical-align: middle;
                        &:after {
                            content: attr(data-title);
                            font-size: 14px;
                            display: block;
                            margin-top: 10px;
                        }
                    }
                    &:hover {
                        background-color: $menuBgColor;
                        color: $menuHoverFontColor;
                        background-color: $menuHoverBgColor;
                        & + ul {
                            display: inline-block;
                        }
                    }
                }
                &.active > a {
                    color: $menuActiveColor;
                }
                > ul {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: calc(100%);
                    padding: 0;
                    width: $menuWidth;
                    list-style-type: none;
                    background-color: $menuBgColor;
                    border-left: 1px solid $menuBoderColor;
                    @include border-radius(0 4px 4px 0);
                    > li {
                        text-align: left;
                        > a {
                            padding: 10px 20px;
                            display: inline-block;
                            width: 100%;
                            text-decoration: none;
                            white-space: nowrap;
                            text-align: left;
                            color: $menuFontColor;
                            &:hover {
                                cursor: pointer;
                                background-color: $menuHoverBgColor;
                                color: $menuHoverFontColor;
                                &:first-child {
                                    @include border-radius(0 4px 0 0);
                                }
                                &:last-child {
                                    @include border-radius(0 0 4px 0);
                                }
                                &:only-child {
                                    @include border-radius(0 4px 4px 0);
                                }
                            }
                        }
                        &:not(:first-child) > a {
                            border-top: 1px solid #3a3a3a;
                        }
                        &.active > a {
                            color: $menuActiveColor;
                        }
                    }
                    &:hover {
                        display: inline-block;
                        @include border-radius(0 4px 4px 0);
                    }
                }
            }
        }
    }
}

.page-header {
    position: fixed;
    top: $headeHeight;
    min-width: 100%;
    height: $menuTitleHeight;
    background: $menuBgColor;
    padding-left: $menuWidth;
    color: #fff;
    z-index: 700;
    // @include box-shadow(1px 3px 0 1px #e2e3e6);
    > .title {
        font-size: 20px;
        padding-left: 20px;
    }
    > .breadcrumbs {
        padding-right: 20px;
        color: #c3c3c3;
        flex-wrap: nowrap;
        min-width: 200px;
        > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            > li {
                display: inline;
                & + li:before {
                    content: ' / ';
                }
            }
        }
    }
}
.inner-wrapper {
    padding-top: $headeHeight + $menuTitleHeight;
    padding-left: $menuWidth;
    .container {
        min-width: 100%;
        padding: 20px;
    }
}

.panel {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #fafafa;
    overflow: auto;
    @include border-radius(4px);
}

button, .btn {
    display:inline-block;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    @include user-select(none);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: $while;
    border-color: #ccc;
    text-align: center;
    padding: 6px 12px;
    &:active {
        @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .3));
    }
    &:focus {
        outline: 0;
    }
}

label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-align: left;
    padding-top: 28px;
    @include user-select(none);
    &:before, &:after {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        @include opacity(0.75);
    }
    &.must:before {
        content: '＊';
        color: $red;
    }
    &.must:after {
        left: 15px;
    }
    &:after {
        content: attr(data-title);
    }

    > label.checkbox-inline,
    label.radio-inline {
        display: inline-block;
        width: auto;
        padding: 0;
        &:after {
            position: relative;
            width: auto;
            vertical-align: middle;
        }
    }
}

// input
input, select{
    &.form-control {
        display: inline-block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        background: transparent;
        border: 1px solid #ccc;
        font-size: 14px;
        @include border-radius(4px);
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
        &:focus {
            outline: 0;
            border-color: $blue;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3));
            @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        }
        &::placeholder {
            @include user-select(none);
            @include opacity(0.75);
        }
    }
    &[type="textarea"] {
        height: 68px;
    }
    &.lg {
        height: 46px;
        padding: 10px 16px;
        &[type="textarea"] {
            height: 92px;
        }
    }
}
input {
    &[type="checkbox"],
    &[type="radio"] {
        cursor: pointer;
    }
}
select {
    // @include appearance(none);
    color: rgba(0, 0, 0, .45);
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    span.icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border: 0;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 14px;
    }
    input {
        &.form-control, &.input-lg {
            padding-left: 42px;
        }
    }
}

// table
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    &.table {
        > thead {
            > tr {
                > th {
                    vertical-align: bottom;
                    border-bottom: 2px solid #ddd;
                    padding: 8px;
                }
            }
            &:first-child > tr:first-child > th {
                border-top: 0;
            }
        }
        > tbody {
            > tr {
                > td {
                    padding: 8px;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                    &.actions {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

// color
.red {
    color: $while;
    background-color: $red;
    &:hover.hover {
        background-color: $redHover;
    }
}
.blue {
    color: $while;
    background-color: $blue;
    &:hover.hover {
        background-color: $blueHover;
    }
}
.yellow {
    color: $while;
    background-color: $yellow;
    &:hover.hover {
        background-color: $yellowHover;
    }
}
.green {
    color: $while;
    background-color: $green;
    &:hover.hover {
        background-color: $greenHover;
    }
}
.while {
    color: $black;
    background-color: $while;
    &:hover.hover {
        background-color: $whileHover;
    }
}
.black {
    color: $while;
    background-color: $black;
    &:hover.hover {
        background-color: $blackHover;
    }
}

// flex
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-left {
        display: flex;
        justify-content: flex-start;
    }
    &-center {
        display: flex;
        justify-content: center;
    }
    &-right {
        display: flex;
        justify-content: flex-end;
    }
    &-top {
        display: flex;
        align-items: flex-start;
    }
    &-middle {
        display: flex;
        align-items: center;
    }
    &-bottom {
        display: flex;
        align-items: flex-end;
    }
    &-column {
        display: flex;
        flex-direction: column;
    }
}
.f1 {
    flex: 1;
    flex-basis: auto;
}
.f2 {
    flex: 2;
    flex-basis: auto;
}
.f3 {
    flex: 3;
    flex-basis: auto;
}
.f4 {
    flex: 4;
    flex-basis: auto;
}
.f5 {
    flex: 5;
    flex-basis: auto;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.row {
    width: 100%;
    & + .row {
        margin-top: 15px;
    }
}
.col {
    + .col{
        margin-left: 15px;
    }
}

// login
.login-body {
    height: 100vh;
}
.login-container {
    width: 300px;
    background-color: #FFF;
    padding: 33px 33px 15px;
    border-top: 5px solid $blue;
    @include border-radius(4px);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

div.page {
    display: inline-block;
    > ul.pagination {
        display: inline-block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        > li {
            display: inline;
            &.active > a{
                background-color: $blue;
                color: #fff;
            }
            &.disabled > a{
                background-color: #fff;
                color: #777;
                cursor: not-allowed;
            }
            &:first-child > a{
                @include border-radius(4px 0 0 4px);
            }
            &:last-child > a{
                @include border-radius(0 4px 4px 0);
            }
            &:not(.disabled):not(.active):hover > a {
                background-color: #eee;
            }
            > a {
                display: inline-block;
                position: relative;
                float: left;
                text-decoration: none;
                padding: 6px 12px;
                margin-left: -1px;
                background-color: #fff;
                border: 1px solid #ddd;
                color: $blue;
            }
        }
    }
}

div.search {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    @include border-radius(4px);
    > div.search-icon {
        display: flex;
        width: 50px;
        height: 40px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #E9E9E6;
        &:hover {
            color: $blue;
        }
    }
    > div.search-body {
        max-height: 0;
        overflow: hidden;
        text-overflow:ellipsis;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #E9E9E6;
        @include border-radius(0 0 4px 4px);
        @include transition(display 1s, max-height .3s ease-out);

        > div.search-container {
            padding: 20px;
        }
    }
    &.show > div.search-body {
        overflow: auto;
        max-height: 400px;
        @include transition(display 1s, max-height .3s ease-in);
    }
}

// dialog
div.dialog {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 60px);
    z-index: 1001;
    padding: 40px;
    justify-content: center;
    align-items: center;
    > .box {
        width: 60%;
        min-width: 300px;
        position: relative;
        max-width: 100%;
        background-color: #fff;
        @include border-radius(4px);
        &.lg {
            width: 100%;
        }
        &.md {
            width: 60%;
        }
        &.sm {
            width: 25%;
        }
        > .header {
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 400;
            border-bottom: 1px solid #E9E9E6;
            > .close {
                position: absolute;
                right: 20px;
                top: 12px;
                cursor: pointer;
            }
        }
        > .body {
            overflow: auto;
            max-height: calc(100vh - 200px);
            > .body-container {
                padding: 20px;
            }
        }
        > .footer {
            width: 100%;
            border-top: 1px solid #E9E9E6;
            padding: 10px 20px;
        }
    }
}
div.dialog + div.dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}

span.must {
    &:before {
        content: '＊';
        color: $red;
    }
}

// loading
.loading-overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}
.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
            left: 8px;
            animation: loading1 0.6s infinite;
        }
        &:nth-child(2) {
            left: 8px;
            animation: loading2 0.6s infinite;
        }
        &:nth-child(3) {
            left: 32px;
            animation: loading2 0.6s infinite;
        }
        &:nth-child(4) {
            left: 56px;
            animation: loading3 0.6s infinite;
        }
    }
}
@keyframes loading1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes loading3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes loading2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}

.hide {
    display: none !important;
}