@import "compass/css3";

$black: #333;
$while: #fff;
$red: #d2322d;
$green: #47a447;
$yellow: #ed9c28;
$blue: #0088cc;

$blackHover: #444;
$whileHover: #e6e6e6;
$redHover: #d64742;
$greenHover: #51b451;
$yellowHover: #efa740;
$blueHover: #0099e6;

$menuBgColor: #1D2127;
$menuBoderColor: #3a3a3a;
$menuFontColor: #abb4be;
$menuHoverFontColor: #fff;
$menuHoverBgColor: #21262d;
$menuActiveColor: #fff;

$headeHeight: 60px;
$menuTitleHeight: 50px;
$menuWidth: 250px;

* {
    @include box-sizing(border-box);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1.00);
    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #ecedf0;
    overflow-y: hidden;
}

header {
    display: flex;
    width: 100%;
    min-width: 750px;
    height: $headeHeight;
    background: #fff;
    z-index: 900;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid #E9E9E6;
    // @include box-shadow(0 0 5px 0 rgba(0,0,0,0.16));
    > .logo-container {
        display: flex;
        justify-content: flex-start;
        width: $menuWidth;
        height: 100%;
    }
    > .header-right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        height: 100%;
        > .userbox {
            display: flex;
            width: 230px;
            height: 100%;
            border-left: 2px solid #F6F6F6;
            cursor: pointer;
            text-align: left;
            vertical-align: middle;
            align-items: center;
            @include user-select(none);
            > .user-photo {
                display: inline-block;
                width: $headeHeight;
                min-width: $headeHeight;
                height: 100%;
                margin-left: 10px;
                > img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 5px;
                    @include border-radius(50%);
                }
            }
            > .profile-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                margin: 0 10px;
                max-width: 110px;
                > .email {
                    width: 100%;
                    overflow: hidden;
                    text-overflow : ellipsis;
                    white-space: nowrap;
                    color: $black;
                    font-size: 14px;
                }
                > .role {
                    color: #ACACAC;
                    font-size: 12px;
                }
            }
            > i {
                @include transition(transform .5s);
            }
            > .dropdown {
                max-height: 0;
                overflow: hidden;
                position: absolute;
                width: 230px;
                right: 0;
                top: $headeHeight;
                @include transition(max-height .3s ease-out);
                @include border-radius(0 0 10px 10px);
                > ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    > li {
                        > a {
                            display: inline-block;
                            width: 100%;
                            background-color: #fff;
                            color: #7d7d7d;
                            font-size: 14px;
                            text-decoration: none;
                            padding: 10px 15px;
                            > i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            &.show {
                > i {
                    @include rotate(-180deg);
                    @include transition(transform .3s);
                }
                > .dropdown {
                    max-height: 500px;
                    overflow: auto;
                    @include transition(max-height .3s ease-in);
                }
            }
        }
    }
}

.content {
    $content-height: calc(100vh - #{$headeHeight});
    display: flex;
    min-width: 750px;
    height: $content-height;
    #menu-click {
        display: none;
        overflow: hidden;
        top: -999px;
        left: -999px;
        @include opacity(0);
        z-index: -999;
        &:checked {
            ~ div.sidebar {
                > .menu-header {
                    margin-left: -300px;
                    @include transition(width .3s);
                }
                > .menu {
                    width: 50px;
                    overflow: hidden;
                    @include transition(width .3s);
                    ul > li {
                        > a {
                            padding: 15px;
                            &:after, &:before {
                                display: none;
                                @include opacity(0);
                            }
                        }
                        > ul {
                            display:none;
                        }
                    }
                    &:hover {
                        width: $menuWidth;
                        ul > li {
                            a {
                                padding: 15px 25px;
                                &:after, &:before {
                                    display: inline;
                                    @include opacity(1);
                                }
                            }
                            > ul {
                                > li > a {
                                    padding: 6px 15px 6px 50px;
                                }
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    > nav {
        position: sticky;
        top: 0;
        z-index: 800;
        height: max-content;
        min-height: $content-height;
        div.sidebar {
            color: $menuFontColor;
            min-height: $content-height;
            max-height: calc(100vh - 110px);
            .menu-header {
                display: flex;
                position: relative;
                background-color: $menuBgColor;
                height: $menuTitleHeight;
                justify-content: left;
                align-items: center;
                padding: 15px;
                border-bottom: 1px solid $menuBoderColor;
                @include user-select(none);
                @include transition(width .3s);
                .menu-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: $menuTitleHeight;
                    height: $menuTitleHeight;
                    top: 0;
                    right: 0;
                    border-left: 1px solid $menuBoderColor;
                    border-right: 1px solid $menuBoderColor;
                    &:hover {
                        cursor: pointer;
                        background-color: $menuHoverBgColor;
                        color: $menuHoverFontColor;
                    }
                    > label {
                        padding: 0;
                        text-align: center;
                    }
                }
            }

            div.menu {
                background-color: $menuBgColor;
                width: $menuWidth;
                height: calc(100vh - 110px);
                max-height: 100vh;
                overflow: auto;
                @include transition(width .3s);
                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    color: $menuFontColor;
                    a {
                        display: inline-block;
                        width: 100%;
                        position: relative;
                        text-decoration: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        padding: 15px 25px;
                        text-align: left;
                        color: $menuFontColor;
                        line-height: 20px;
                        > i {
                            width: 20px;
                            height: 20px;
                            font-size: 16px;
                            text-align: center;
                        }
                        &:after {
                            margin-left: 8px;
                            content: attr(data-title);
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        &:hover {
                            color: $menuHoverFontColor;
                            background-color: $menuHoverBgColor;
                        }
                    }
    
                    > li {
                        position: relative;
                        > a:not(:only-child):before {
                            float: right;
                            vertical-align: middle;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f0da";
                            @include transition(transform .3s);
                        }
                        &.active > a {
                            color: $menuActiveColor;
                            &:not(:only-child):before {
                                @include rotate(90deg);
                                @include transition(transform .3s);
                            }
                        }
                        > ul {
                            display: block;
                            max-height: 0;
                            overflow: hidden;
                            @include transition(max-height .3s ease-out);
                            > li {
                                text-align: left;
                                > a {
                                    padding: 10px 25px 10px 50px;
                                }
                                &.active > a {
                                    color: $menuActiveColor;
                                }
                            }
                        }
                        &.active > ul {
                            max-height: 1000px;
                            @include transition(max-height .3s ease-in);
                        }
                    }
                }
            }
        }
    }
    > .content-right {
        flex: 1;
        overflow: auto;
        .content-header {
            display: flex;
            min-width: 100%;
            height: $menuTitleHeight;
            background: $menuBgColor;
            color: #fff;
            z-index: 700;
            align-items: center;
            @include box-shadow(0 0 5px 5px rgba(0,0,0,0.16));
            > .title {
                display: flex;
                flex: 5;
                justify-content: flex-start;
                font-size: 20px;
                padding-left: 20px;
            }
            > .breadcrumbs {
                display: flex;
                flex: 1;
                justify-content: flex-end;
                padding-right: 20px;
                color: #c3c3c3;
                flex-wrap: nowrap;
                min-width: 200px;
                > ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    > li {
                        display: inline;
                        & + li:before {
                            content: ' / ';
                        }
                    }
                }
            }
        }
        .content-body {
            overflow: auto;
            height: calc(100vh - #{$headeHeight} - #{$menuTitleHeight});
            .container {
                min-width: 100%;
                padding: 20px;
            }
        }
    }
}

.panel {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #fafafa;
    @include border-radius(4px);
    > .panel-header {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #DADADA;
        background: #f6f6f6;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: attr(data-title);
            color: #33353F;
            font-size: 20px;
            font-weight: 400;
        }
        > .panel-actions {
            position: absolute;
            right: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 100%;
            color: #B4B4B4;
            > i {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                cursor: pointer;
                &:hover {
                    background-color: #eeeeee;
                    color: #B4B4B4;
                }
                @include transition(transform .25s);
            }
        }
    }
    > .panel-body {
        > .panel-content {
            // overflow: auto;
            width: 100%;
            padding-bottom: 15px;
        }
        padding: 15px 15px 0 15px;
        max-height: 2000px;
        @include transition(max-height .25s);
    }
    &-collapsed {
        > .panel-header > .panel-actions > i {
            @include rotate(-180deg);
            @include transition(transform .25s);
        }
        > .panel-body{
            max-height: 0;
            overflow: hidden;
            padding: 0;
            @include opacity(0);
            @include transition(max-height .25s);
        }
    }
}

img {
    width: 100%;
    height: 100%;
}

button, .btn {
    display:inline-block;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    @include user-select(none);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: $while;
    border-color: #ccc;
    text-align: center;
    padding: 6px 12px;
    &:active {
        @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .3));
    }
    &:focus {
        outline: 0;
    }

    &.red {
        color: $while;
        background-color: $red;
        &:hover {
            background-color: $redHover;
        }
    }
    &.blue {
        color: $while;
        background-color: $blue;
        &:hover {
            background-color: $blueHover;
        }
    }
    &.yellow {
        color: $while;
        background-color: $yellow;
        &:hover {
            background-color: $yellowHover;
        }
    }
    &.green {
        color: $while;
        background-color: $green;
        &:hover {
            background-color: $greenHover;
        }
    }
    &.while {
        color: $black;
        background-color: $while;
        &:hover {
            background-color: $whileHover;
        }
    }
    &.black {
        color: $while;
        background-color: $black;
        &:hover {
            background-color: $blackHover;
        }
    }
}

label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-align: left;
    padding-top: 28px;
    @include user-select(none);
    &:before, &:after {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        @include opacity(0.75);
    }
    &.must:before {
        content: '＊';
        color: $red;
    }
    &.must:after {
        left: 15px;
    }
    &:after {
        content: attr(data-title);
    }

    > label.checkbox-inline,
    label.radio-inline {
        display: inline-block;
        width: auto;
        padding: 0;
        &:after {
            position: relative;
            width: auto;
            vertical-align: middle;
        }
    }
}

span.label {
    display: inline;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 500;
    max-width: max-content;
    @include border-radius(.25em);
    &.red {
        color: $while;
        background-color: $red;
    }
    &.blue {
        color: $while;
        background-color: $blue;
    }
    &.yellow {
        color: $while;
        background-color: $yellow;
    }
    &.green {
        color: $while;
        background-color: $green;
    }
    &.while {
        color: $black;
        background-color: $while;
    }
    &.black {
        color: $while;
        background-color: $black;
    }
}

// input
input, select{
    &.form-control {
        display: inline-block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        background: transparent;
        border: 1px solid #ccc;
        font-size: 14px;
        @include border-radius(4px);
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
        &:focus {
            outline: 0;
            border-color: $blue;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3));
            @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        }
        &::placeholder {
            @include user-select(none);
            @include opacity(0.75);
        }
    }
    &[type="textarea"] {
        height: 68px;
    }
    &.lg {
        height: 46px;
        padding: 10px 16px;
        &[type="textarea"] {
            height: 92px;
        }
    }
}
input {
    &[type="checkbox"],
    &[type="radio"] {
        cursor: pointer;
    }
}
select {
    // @include appearance(none);
    color: rgba(0, 0, 0, .45);
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    span.icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border: 0;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 14px;
    }
    input {
        &.form-control, &.input-lg {
            padding-left: 42px;
        }
    }
}

div.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ddd;
    margin: 10px 0;
    > table {
        min-width: max-content;
    }
}
// table
.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    > thead {
        > tr {
            border: 1px solid #ddd;
            > th {
                vertical-align: bottom;
                border: 1px solid #ddd;
                padding: 8px;
            }
        }
    }
    > tbody {
        > tr {
            border: 1px solid #ddd;
            > td {
                padding: 8px;
                vertical-align: top;
                border: 1px solid #ddd;
                &.actions {
                    vertical-align: middle;
                    > a {
                        font-size: 14px;
                        padding: 6px;
                        color: #666;
                        &:hover {
                            color: #333;
                        }
                        & + a {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}


// flex
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-left {
        display: flex;
        justify-content: flex-start;
    }
    &-center {
        display: flex;
        justify-content: center;
    }
    &-right {
        display: flex;
        justify-content: flex-end;
    }
    &-top {
        display: flex;
        align-items: flex-start;
    }
    &-middle {
        display: flex;
        align-items: center;
    }
    &-bottom {
        display: flex;
        align-items: flex-end;
    }
    &-column {
        display: flex;
        flex-direction: column;
    }
}
.f1 {
    flex: 1;
    flex-basis: auto;
}
.f2 {
    flex: 2;
    flex-basis: auto;
}
.f3 {
    flex: 3;
    flex-basis: auto;
}
.f4 {
    flex: 4;
    flex-basis: auto;
}
.f5 {
    flex: 5;
    flex-basis: auto;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.row {
    width: 100%;
    & + .row {
        margin-top: 15px;
    }
}
.col {
    + .col{
        margin-left: 15px;
    }
}

// login
.login-body {
    height: 100vh;
}
.login-container {
    width: 300px;
    background-color: #FFF;
    padding: 33px 33px 15px;
    border-top: 5px solid $blue;
    @include border-radius(4px);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

div.page {
    display: inline-block;
    > ul.pagination {
        display: inline-block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        > li {
            display: inline;
            &.active > a{
                background-color: $blue;
                color: #fff;
            }
            &.disabled > a{
                background-color: #fff;
                color: #777;
                cursor: not-allowed;
            }
            &:first-child > a{
                @include border-radius(4px 0 0 4px);
            }
            &:last-child > a{
                @include border-radius(0 4px 4px 0);
            }
            &:not(.disabled):not(.active):hover > a {
                background-color: #eee;
            }
            > a {
                display: inline-block;
                position: relative;
                float: left;
                text-decoration: none;
                padding: 6px 12px;
                margin-left: -1px;
                background-color: #fff;
                border: 1px solid #ddd;
                color: $blue;
            }
        }
    }
}

div.search {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: #fff;
    @include border-radius(4px);
    > div.search-header {
        display: flex;
        align-items: center;
        > .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-right: 1px solid #E9E9E6;
            cursor: pointer;
            &:hover {
                color: $blue;
            }
        }
        &:before {
            position: absolute;
            left: 50px;
            margin-left: 15px;
            @include opacity(.75);
            content: attr(data-result);
        }
        &.active:before {
            font-weight: 500;
            @include opacity(1);
        }
    }
    > div.search-body {
        text-overflow:ellipsis;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #E9E9E6;
        @include border-radius(0 0 4px 4px);
        max-height: 0;
        overflow: hidden;
        @include transition(max-height .3s ease-out);

        > div.search-container {
            padding: 20px;
        }
    }
    &.show > div.search-body {
        max-height: 500px;
        overflow: auto;
        @include transition(max-height .3s ease-in);
    }
}

// dialog
div.dialog {
    display: none;
    &.show {
        display: inline-block;
    }
}
div.dialog-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 60px);
    z-index: 1001;
    padding: 40px;
    justify-content: center;
    align-items: center;
    > .box {
        width: 60%;
        min-width: 300px;
        position: relative;
        max-width: 100%;
        background-color: #fff;
        @include border-radius(4px);
        &.sm {
            width: 25%;
        }
        &.md {
            width: 60%;
        }
        &.lg {
            width: 100%;
        }
        
        > .header {
            padding: 10px 20px;
            font-size: 18px;
            font-weight: 400;
            border-bottom: 1px solid #E9E9E6;
            > .close {
                position: absolute;
                right: 20px;
                top: 12px;
                cursor: pointer;
            }
        }
        > .body {
            overflow: auto;
            max-height: calc(100vh - 200px);
            > .body-container {
                padding: 20px;
            }
        }
        > .footer {
            width: 100%;
            border-top: 1px solid #E9E9E6;
            padding: 10px 20px;
        }
    }
}
div.dialog-container + div.dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}

span.must {
    &:before {
        content: '＊';
        color: $red;
    }
}

// loading
.loading-overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}
.loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
            left: 8px;
            animation: loading1 0.6s infinite;
        }
        &:nth-child(2) {
            left: 8px;
            animation: loading2 0.6s infinite;
        }
        &:nth-child(3) {
            left: 32px;
            animation: loading2 0.6s infinite;
        }
        &:nth-child(4) {
            left: 56px;
            animation: loading3 0.6s infinite;
        }
    }
}
@keyframes loading1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes loading3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes loading2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}

.hide {
    display: none !important;
}