@import "compass/css3";

$black: #333;
$while: #fff;
$red: #d2322d;
$green: #47a447;
$yellow: #ed9c28;
$blue: #0088cc;

$blackHover: #444;
$whileHover: #e6e6e6;
$redHover: #d64742;
$greenHover: #51b451;
$yellowHover: #efa740;
$blueHover: #0099e6;

* {
    @include box-sizing(border-box);
}

body {
    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1.00);
    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #ecedf0;
}

header {
    position: fixed;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 0;
    height: 60px;
    background: #fff;
    z-index: 1000;
    font-weight: 400;
    font-style: normal;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,0.16));
}

nav {
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 200;
    .menu {
        padding-top: 60px;
        width: 240px;
        height: 100%;
        background-color: #fff;
    }
}

.inner-wrapper {
    padding-top: 60px;
    padding-left: 240px;
    .container {
        min-width: 100%;
        padding: 40px;
    }
}

.panel {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border: 1px solid $green;
    @include border-radius(4px);
}

button, .btn {
    display:inline-block;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    @include user-select(none);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: $while;
    border-color: #ccc;
    text-align: center;
    padding: 6px 12px;
    &:active {
        @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .3));
    }
    &:focus {
        outline: 0;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    @include user-select(none);
    &:after {
        content: attr(data-title);
    }
    &.checkbox-inline, &.radio-inline {
        cursor: pointer;
        & +.checkbox-inline, & +.radio-inline{
            margin-left: 10px;
        }
    }
    &.label {
        margin-bottom: 5px;
    }
}

input, select{
    &.form-control {
        display: inline-block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        background: transparent;
        border: 1px solid #ccc;
        font-size: 14px;
        @include border-radius(4px);
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
        &:focus {
            outline: 0;
            border-color: $blue;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3));
            @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
        }
    }
    &[type="textarea"] {
        height: 68px;
    }
    &.lg {
        height: 46px;
        padding: 10px 16px;
        &[type="textarea"] {
            height: 92px;
        }
    }
    
}
input {
    &[type="checkbox"],
    &[type="radio"] {
        cursor: pointer;
    }
}
.input-group {
    position: relative;
    display: flex;
    width: 100%;
    span.icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border: 0;
        z-index: 3;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 14px;
    }
    input {
        &.form-control, &.input-lg {
            padding-left: 42px;
        }
    }
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    &.table {
        > thead {
            > tr {
                > th {
                    vertical-align: bottom;
                    border-bottom: 2px solid #ddd;
                    padding: 8px;
                }
            }
            &:first-child > tr:first-child > th {
                border-top: 0;
            }
        }
        > tbody {
            > tr {
                > td {
                    padding: 8px;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                    &.actions {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

// color
.red {
    color: $while;
    background-color: $red;
    &:hover.hover {
        background-color: $redHover;
    }
}
.blue {
    color: $while;
    background-color: $blue;
    &:hover.hover {
        background-color: $blueHover;
    }
}
.yellow {
    color: $while;
    background-color: $yellow;
    &:hover.hover {
        background-color: $yellowHover;
    }
}
.green {
    color: $while;
    background-color: $green;
    &:hover.hover {
        background-color: $greenHover;
    }
}
.while {
    color: $black;
    background-color: $while;
    &:hover.hover {
        background-color: $whileHover;
    }
}
.black {
    color: $while;
    background-color: $black;
    &:hover.hover {
        background-color: $blackHover;
    }
}

.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-left {
        display: flex;
        justify-content: flex-start;
    }
    &-center {
        display: flex;
        justify-content: center;
    }
    &-right {
        display: flex;
        justify-content: flex-end;
    }
    &-top {
        display: flex;
        align-items: flex-start;
    }
    &-middle {
        display: flex;
        align-items: center;
    }
    &-bottom {
        display: flex;
        align-items: flex-end;
    }
    &-column {
        display: flex;
        flex-direction: column;
    }
}
.f1 {
    flex: 1;
}
.f2 {
    flex: 2;
}
.f3 {
    flex: 3;
}
.f4 {
    flex: 4;
}
.f5 {
    flex: 5;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}

.row {
    & + .row {
        margin-top: 15px;
    }
}

.col + .col{
    margin-left: 15px;
}

.loading {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1100;
    justify-content: center;
    align-items: center;
}

// login
.login-body {
    height: 100vh;
}
.login-container {
    width: 300px;
    background-color: #FFF;
    padding: 33px 33px 15px;
    border-top: 5px solid $blue;
    @include border-radius(4px);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}