@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  font-size: medium;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #ecedf0;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 900;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #E9E9E6;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
}
header > .logo-container {
  max-width: 150px;
  height: 100%;
}
header > .header-right {
  height: 100%;
}
header > .header-right > .userbox {
  display: flex;
  width: 230px;
  height: 100%;
  border-left: 2px solid #F6F6F6;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  align-items: center;
}
header > .header-right > .userbox > .user-photo {
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 100%;
  margin-left: 10px;
}
header > .header-right > .userbox > .user-photo > img {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
header > .header-right > .userbox > .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 10px;
  max-width: 110px;
}
header > .header-right > .userbox > .profile-info > .email {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  font-size: 14px;
}
header > .header-right > .userbox > .profile-info > .role {
  color: #ACACAC;
  font-size: 12px;
}
header > .header-right > .userbox > .caret:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
}
header > .header-right > .userbox > .dropdown {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 230px;
  top: 60px;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
header > .header-right > .userbox > .dropdown > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header > .header-right > .userbox > .dropdown > ul > li > a {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  color: #7d7d7d;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 15px;
}
header > .header-right > .userbox > .dropdown > ul > li > a > i {
  margin-right: 10px;
}
header > .header-right > .userbox.show > .caret:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d8";
}
header > .header-right > .userbox.show > .dropdown {
  max-height: 500px;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.content {
  display: flex;
  overflow: auto;
  height: calc(100vh - 60px);
}
.content #menu-click {
  display: none;
  overflow: hidden;
  top: -999px;
  left: -999px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: -999;
}
.content #menu-click:checked ~ nav > div.menu {
  width: 50px;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.content #menu-click:checked ~ nav > div.menu > .menu-header > .menu-title {
  margin-left: -300px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.content #menu-click:checked ~ nav > div.menu ul.menu > li {
  height: 50px;
}
.content #menu-click:checked ~ nav > div.menu ul.menu > li > a > i {
  font-size: 14px;
}
.content #menu-click:checked ~ nav > div.menu ul.menu > li > a > i:after {
  display: none;
}
.content > nav {
  z-index: 800;
  height: max-content;
  min-height: calc(100vh - 60px);
}
.content > nav div.menu {
  color: #abb4be;
  width: 150px;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  min-height: calc(100vh - 60px);
  background-color: #171717;
}
.content > nav div.menu .menu-header {
  display: flex;
  position: relative;
  height: 50px;
  justify-content: left;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #3a3a3a;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.content > nav div.menu .menu-header .menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
}
.content > nav div.menu .menu-header .menu-icon:hover {
  cursor: pointer;
  background-color: #21262d;
  color: #fff;
}
.content > nav div.menu .menu-header .menu-icon > label {
  padding: 0;
  text-align: center;
}
.content > nav div.menu ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #abb4be;
}
.content > nav div.menu ul.menu > li {
  position: relative;
  border-top: 1px solid #3a3a3a;
}
.content > nav div.menu ul.menu > li > a {
  display: block;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  padding: 15px 10px;
  text-align: center;
  color: #abb4be;
}
.content > nav div.menu ul.menu > li > a > i {
  font-size: 2rem;
  margin-right: 0;
  vertical-align: middle;
}
.content > nav div.menu ul.menu > li > a > i:after {
  content: attr(data-title);
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.content > nav div.menu ul.menu > li > a:hover {
  background-color: #171717;
  color: #fff;
  background-color: #21262d;
}
.content > nav div.menu ul.menu > li > a:hover + ul {
  display: inline-block;
}
.content > nav div.menu ul.menu > li.active > a {
  color: #fff;
}
.content > nav div.menu ul.menu > li > ul {
  display: none;
  position: absolute;
  top: 0;
  left: calc(100%);
  padding: 0;
  width: 150px;
  list-style-type: none;
  background-color: #171717;
  border-left: 1px solid #3a3a3a;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.content > nav div.menu ul.menu > li > ul > li {
  text-align: left;
}
.content > nav div.menu ul.menu > li > ul > li > a {
  padding: 10px 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  white-space: nowrap;
  text-align: left;
  color: #abb4be;
}
.content > nav div.menu ul.menu > li > ul > li > a:hover {
  cursor: pointer;
  background-color: #21262d;
  color: #fff;
}
.content > nav div.menu ul.menu > li > ul > li > a:hover:first-child {
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 0 0;
}
.content > nav div.menu ul.menu > li > ul > li > a:hover:last-child {
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 0;
}
.content > nav div.menu ul.menu > li > ul > li > a:hover:only-child {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.content > nav div.menu ul.menu > li > ul > li:not(:first-child) > a {
  border-top: 1px solid #3a3a3a;
}
.content > nav div.menu ul.menu > li > ul > li.active > a {
  color: #fff;
}
.content > nav div.menu ul.menu > li > ul:hover {
  display: inline-block;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.content > .inner-wrapper {
  flex: 1;
}
.content > .inner-wrapper .container {
  min-width: 100%;
  padding: 20px;
}

.page-header {
  min-width: 100%;
  height: 50px;
  background: #171717;
  color: #fff;
  z-index: 700;
}
.page-header > .title {
  font-size: 20px;
  padding-left: 20px;
}
.page-header > .breadcrumbs {
  padding-right: 20px;
  color: #c3c3c3;
  flex-wrap: nowrap;
  min-width: 200px;
}
.page-header > .breadcrumbs > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.page-header > .breadcrumbs > ul > li {
  display: inline;
}
.page-header > .breadcrumbs > ul > li + li:before {
  content: ' / ';
}

.panel {
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #fafafa;
  overflow: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

img {
  width: 100%;
  height: 100%;
}

button, .btn {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  text-align: center;
  padding: 6px 12px;
}
button:active, .btn:active {
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}
button:focus, .btn:focus {
  outline: 0;
}

label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: left;
  padding-top: 28px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
label:before, label:after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
label.must:before {
  content: '＊';
  color: #d2322d;
}
label.must:after {
  left: 15px;
}
label:after {
  content: attr(data-title);
}
label > label.checkbox-inline,
label label.radio-inline {
  display: inline-block;
  width: auto;
  padding: 0;
}
label > label.checkbox-inline:after,
label label.radio-inline:after {
  position: relative;
  width: auto;
  vertical-align: middle;
}

input.form-control, select.form-control {
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background: transparent;
  border: 1px solid #ccc;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.form-control:focus, select.form-control:focus {
  outline: 0;
  border-color: #0088cc;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input.form-control::placeholder, select.form-control::placeholder {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
input[type="textarea"], select[type="textarea"] {
  height: 68px;
}
input.lg, select.lg {
  height: 46px;
  padding: 10px 16px;
}
input.lg[type="textarea"], select.lg[type="textarea"] {
  height: 92px;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

select {
  color: rgba(0, 0, 0, 0.45);
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}
.input-group span.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
}
.input-group input.form-control, .input-group input.input-lg {
  padding-left: 42px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
table.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  padding: 8px;
}
table.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
table.table > tbody > tr > td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table.table > tbody > tr > td.actions {
  vertical-align: middle;
}

.red {
  color: #fff;
  background-color: #d2322d;
}
.red:hover.hover {
  background-color: #d64742;
}

.blue {
  color: #fff;
  background-color: #0088cc;
}
.blue:hover.hover {
  background-color: #0099e6;
}

.yellow {
  color: #fff;
  background-color: #ed9c28;
}
.yellow:hover.hover {
  background-color: #efa740;
}

.green {
  color: #fff;
  background-color: #47a447;
}
.green:hover.hover {
  background-color: #51b451;
}

.while {
  color: #333;
  background-color: #fff;
}
.while:hover.hover {
  background-color: #e6e6e6;
}

.black {
  color: #fff;
  background-color: #333;
}
.black:hover.hover {
  background-color: #444;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.flex-top {
  display: flex;
  align-items: flex-start;
}
.flex-middle {
  display: flex;
  align-items: center;
}
.flex-bottom {
  display: flex;
  align-items: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.f1 {
  flex: 1;
  flex-basis: auto;
}

.f2 {
  flex: 2;
  flex-basis: auto;
}

.f3 {
  flex: 3;
  flex-basis: auto;
}

.f4 {
  flex: 4;
  flex-basis: auto;
}

.f5 {
  flex: 5;
  flex-basis: auto;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.row {
  width: 100%;
}
.row + .row {
  margin-top: 15px;
}

.col + .col {
  margin-left: 15px;
}

.login-body {
  height: 100vh;
}

.login-container {
  width: 300px;
  background-color: #FFF;
  padding: 33px 33px 15px;
  border-top: 5px solid #0088cc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

div.page {
  display: inline-block;
}
div.page > ul.pagination {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.page > ul.pagination > li {
  display: inline;
}
div.page > ul.pagination > li.active > a {
  background-color: #0088cc;
  color: #fff;
}
div.page > ul.pagination > li.disabled > a {
  background-color: #fff;
  color: #777;
  cursor: not-allowed;
}
div.page > ul.pagination > li:first-child > a {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
div.page > ul.pagination > li:last-child > a {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
div.page > ul.pagination > li:not(.disabled):not(.active):hover > a {
  background-color: #eee;
}
div.page > ul.pagination > li > a {
  display: inline-block;
  position: relative;
  float: left;
  text-decoration: none;
  padding: 6px 12px;
  margin-left: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0088cc;
}

div.search {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.search > div.search-icon {
  display: flex;
  width: 50px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #E9E9E6;
}
div.search > div.search-icon:hover {
  color: #0088cc;
}
div.search > div.search-body {
  max-height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #E9E9E6;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
  -moz-transition: display 1s, max-height 0.3s ease-out;
  -o-transition: display 1s, max-height 0.3s ease-out;
  -webkit-transition: display 1s, max-height 0.3s ease-out;
  transition: display 1s, max-height 0.3s ease-out;
}
div.search > div.search-body > div.search-container {
  padding: 20px;
}
div.search.show > div.search-body {
  overflow: auto;
  max-height: 400px;
  -moz-transition: display 1s, max-height 0.3s ease-in;
  -o-transition: display 1s, max-height 0.3s ease-in;
  -webkit-transition: display 1s, max-height 0.3s ease-in;
  transition: display 1s, max-height 0.3s ease-in;
}

div.dialog {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% - 60px);
  z-index: 1001;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
div.dialog > .box {
  width: 60%;
  min-width: 300px;
  position: relative;
  max-width: 100%;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.dialog > .box.lg {
  width: 100%;
}
div.dialog > .box.md {
  width: 60%;
}
div.dialog > .box.sm {
  width: 25%;
}
div.dialog > .box > .header {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #E9E9E6;
}
div.dialog > .box > .header > .close {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
}
div.dialog > .box > .body {
  overflow: auto;
  max-height: calc(100vh - 200px);
}
div.dialog > .box > .body > .body-container {
  padding: 20px;
}
div.dialog > .box > .footer {
  width: 100%;
  border-top: 1px solid #E9E9E6;
  padding: 10px 20px;
}

div.dialog + div.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

span.must:before {
  content: '＊';
  color: #d2322d;
}

.loading-overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}

@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.hide {
  display: none !important;
}
