@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  font-size: medium;
  text-align: center;
  font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #ecedf0;
}

header {
  display: flex;
  width: 100%;
  min-width: 750px;
  height: 60px;
  background: #fff;
  z-index: 900;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #E9E9E6;
}
header > .logo-container {
  display: flex;
  justify-content: flex-start;
  width: 250px;
  height: 100%;
}
header > .header-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  height: 100%;
}
header > .header-right > .userbox {
  display: flex;
  width: 230px;
  height: 100%;
  border-left: 2px solid #F6F6F6;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  align-items: center;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
header > .header-right > .userbox > .user-photo {
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 100%;
  margin-left: 10px;
}
header > .header-right > .userbox > .user-photo > img {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
header > .header-right > .userbox > .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 10px;
  max-width: 110px;
}
header > .header-right > .userbox > .profile-info > .email {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  font-size: 14px;
}
header > .header-right > .userbox > .profile-info > .role {
  color: #ACACAC;
  font-size: 12px;
}
header > .header-right > .userbox > i {
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
header > .header-right > .userbox > .dropdown {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 230px;
  right: 0;
  top: 60px;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 10px;
}
header > .header-right > .userbox > .dropdown > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header > .header-right > .userbox > .dropdown > ul > li > a {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  color: #7d7d7d;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 15px;
}
header > .header-right > .userbox > .dropdown > ul > li > a > i {
  margin-right: 10px;
}
header > .header-right > .userbox.show > i {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
header > .header-right > .userbox.show > .dropdown {
  max-height: 500px;
  overflow: auto;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.content {
  display: flex;
  min-width: 750px;
  height: calc(100vh - 60px);
}
.content #menu-click {
  display: none;
  overflow: hidden;
  top: -999px;
  left: -999px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: -999;
}
.content #menu-click:checked ~ div.sidebar > .menu-header {
  margin-left: -300px;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.content #menu-click:checked ~ div.sidebar > .menu {
  width: 50px;
  overflow: hidden;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.content #menu-click:checked ~ div.sidebar > .menu ul > li > a {
  padding: 15px;
}
.content #menu-click:checked ~ div.sidebar > .menu ul > li > a:after, .content #menu-click:checked ~ div.sidebar > .menu ul > li > a:before {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.content #menu-click:checked ~ div.sidebar > .menu ul > li > ul {
  display: none;
}
.content #menu-click:checked ~ div.sidebar > .menu:hover {
  width: 250px;
}
.content #menu-click:checked ~ div.sidebar > .menu:hover ul > li a {
  padding: 15px 25px;
}
.content #menu-click:checked ~ div.sidebar > .menu:hover ul > li a:after, .content #menu-click:checked ~ div.sidebar > .menu:hover ul > li a:before {
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.content #menu-click:checked ~ div.sidebar > .menu:hover ul > li > ul {
  display: block;
}
.content #menu-click:checked ~ div.sidebar > .menu:hover ul > li > ul > li > a {
  padding: 6px 15px 6px 50px;
}
.content > nav {
  position: sticky;
  top: 0;
  z-index: 800;
  height: max-content;
  min-height: calc(100vh - 60px);
}
.content > nav div.sidebar {
  color: #abb4be;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 110px);
}
.content > nav div.sidebar .menu-header {
  display: flex;
  position: relative;
  background-color: #1D2127;
  height: 50px;
  justify-content: left;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #3a3a3a;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.content > nav div.sidebar .menu-header .menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border-left: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
}
.content > nav div.sidebar .menu-header .menu-icon:hover {
  cursor: pointer;
  background-color: #21262d;
  color: #fff;
}
.content > nav div.sidebar .menu-header .menu-icon > label {
  padding: 0;
  text-align: center;
}
.content > nav div.sidebar div.menu {
  background-color: #1D2127;
  width: 250px;
  height: calc(100vh - 110px);
  max-height: 100vh;
  overflow: auto;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.content > nav div.sidebar div.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #abb4be;
}
.content > nav div.sidebar div.menu ul a {
  display: inline-block;
  width: 100%;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 15px 25px;
  text-align: left;
  color: #abb4be;
  line-height: 20px;
}
.content > nav div.sidebar div.menu ul a > i {
  width: 20px;
  height: 20px;
  font-size: 16px;
  text-align: center;
}
.content > nav div.sidebar div.menu ul a:after {
  margin-left: 8px;
  content: attr(data-title);
  font-size: 14px;
  margin-top: 10px;
}
.content > nav div.sidebar div.menu ul a:hover {
  color: #fff;
  background-color: #21262d;
}
.content > nav div.sidebar div.menu ul > li {
  position: relative;
}
.content > nav div.sidebar div.menu ul > li > a:not(:only-child):before {
  float: right;
  vertical-align: middle;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.content > nav div.sidebar div.menu ul > li.active > a {
  color: #fff;
}
.content > nav div.sidebar div.menu ul > li.active > a:not(:only-child):before {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.content > nav div.sidebar div.menu ul > li > ul {
  display: block;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.content > nav div.sidebar div.menu ul > li > ul > li {
  text-align: left;
}
.content > nav div.sidebar div.menu ul > li > ul > li > a {
  padding: 10px 25px 10px 50px;
}
.content > nav div.sidebar div.menu ul > li > ul > li.active > a {
  color: #fff;
}
.content > nav div.sidebar div.menu ul > li.active > ul {
  max-height: 1000px;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}
.content > .content-right {
  flex: 1;
  overflow: auto;
}
.content > .content-right .content-header {
  display: flex;
  min-width: 100%;
  height: 50px;
  background: #1D2127;
  color: #fff;
  z-index: 700;
  align-items: center;
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.16);
}
.content > .content-right .content-header > .title {
  display: flex;
  flex: 5;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 20px;
}
.content > .content-right .content-header > .breadcrumbs {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 20px;
  color: #c3c3c3;
  flex-wrap: nowrap;
  min-width: 200px;
}
.content > .content-right .content-header > .breadcrumbs > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.content > .content-right .content-header > .breadcrumbs > ul > li {
  display: inline;
}
.content > .content-right .content-header > .breadcrumbs > ul > li + li:before {
  content: ' / ';
}
.content > .content-right .content-body {
  overflow: auto;
  height: calc(100vh - 60px - 50px);
}
.content > .content-right .content-body .container {
  min-width: 100%;
  padding: 20px;
}

.panel {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #fafafa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.panel > .panel-header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #DADADA;
  background: #f6f6f6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel > .panel-header:before {
  content: attr(data-title);
  color: #33353F;
  font-size: 20px;
  font-weight: 400;
}
.panel > .panel-header > .panel-actions {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 100%;
  color: #B4B4B4;
}
.panel > .panel-header > .panel-actions > i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
.panel > .panel-header > .panel-actions > i:hover {
  background-color: #eeeeee;
  color: #B4B4B4;
}
.panel > .panel-body {
  padding: 15px 15px 0 15px;
  max-height: 2000px;
  -moz-transition: max-height 0.25s;
  -o-transition: max-height 0.25s;
  -webkit-transition: max-height 0.25s;
  transition: max-height 0.25s;
}
.panel > .panel-body > .panel-content {
  width: 100%;
  padding-bottom: 15px;
}
.panel-collapsed > .panel-header > .panel-actions > i {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
.panel-collapsed > .panel-body {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: max-height 0.25s;
  -o-transition: max-height 0.25s;
  -webkit-transition: max-height 0.25s;
  transition: max-height 0.25s;
}

img {
  width: 100%;
  height: 100%;
}

button, .btn {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  text-align: center;
  padding: 6px 12px;
}
button:active, .btn:active {
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}
button:focus, .btn:focus {
  outline: 0;
}
button.red, .btn.red {
  color: #fff;
  background-color: #d2322d;
}
button.red:hover, .btn.red:hover {
  background-color: #d64742;
}
button.blue, .btn.blue {
  color: #fff;
  background-color: #0088cc;
}
button.blue:hover, .btn.blue:hover {
  background-color: #0099e6;
}
button.yellow, .btn.yellow {
  color: #fff;
  background-color: #ed9c28;
}
button.yellow:hover, .btn.yellow:hover {
  background-color: #efa740;
}
button.green, .btn.green {
  color: #fff;
  background-color: #47a447;
}
button.green:hover, .btn.green:hover {
  background-color: #51b451;
}
button.while, .btn.while {
  color: #333;
  background-color: #fff;
}
button.while:hover, .btn.while:hover {
  background-color: #e6e6e6;
}
button.black, .btn.black {
  color: #fff;
  background-color: #333;
}
button.black:hover, .btn.black:hover {
  background-color: #444;
}

label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  position: relative;
  text-align: left;
  padding-top: 28px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
label:before, label:after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
label.must:before {
  content: '＊';
  color: #d2322d;
}
label.must:after {
  left: 15px;
}
label:after {
  content: attr(data-title);
}
label > label.checkbox-inline,
label label.radio-inline {
  display: inline-block;
  width: auto;
  padding: 0;
}
label > label.checkbox-inline:after,
label label.radio-inline:after {
  position: relative;
  width: auto;
  vertical-align: middle;
}
label.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}
label.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
label.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
label.switch .slider.round {
  border-radius: 24px;
}
label.switch .slider.round:before {
  border-radius: 50%;
}
label.switch input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: none;
  width: 0;
  height: 0;
}
label.switch input:checked + .slider {
  background-color: #2196F3;
}
label.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
label.switch input:checked + .slider:before {
  -moz-transform: translateX(22px);
  -ms-transform: translateX(22px);
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

span.label {
  display: inline;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 500;
  max-width: max-content;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
span.label.red {
  color: #fff;
  background-color: #d2322d;
}
span.label.blue {
  color: #fff;
  background-color: #0088cc;
}
span.label.yellow {
  color: #fff;
  background-color: #ed9c28;
}
span.label.green {
  color: #fff;
  background-color: #47a447;
}
span.label.while {
  color: #333;
  background-color: #fff;
}
span.label.black {
  color: #fff;
  background-color: #333;
}

input.form-control, select.form-control {
  display: inline-block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  background: transparent;
  border: 1px solid #ccc;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
input.form-control:focus, select.form-control:focus {
  outline: 0;
  border-color: #0088cc;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input.form-control::placeholder, select.form-control::placeholder {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
input[type="textarea"], select[type="textarea"] {
  height: 68px;
}
input.lg, select.lg {
  height: 46px;
  padding: 10px 16px;
}
input.lg[type="textarea"], select.lg[type="textarea"] {
  height: 92px;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

select {
  color: rgba(0, 0, 0, 0.45);
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}
.input-group span.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
}
.input-group input.form-control, .input-group input.input-lg {
  padding-left: 42px;
}

div.table-scrollable {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #ddd;
  margin: 10px 0;
}
div.table-scrollable > table {
  min-width: max-content;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.table > thead > tr {
  border: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border: 1px solid #ddd;
  padding: 8px;
}
.table > tbody > tr {
  border: 1px solid #ddd;
}
.table > tbody > tr > td {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #ddd;
}
.table > tbody > tr > td.actions {
  vertical-align: middle;
}
.table > tbody > tr > td.actions > a {
  font-size: 14px;
  padding: 6px;
  color: #666;
}
.table > tbody > tr > td.actions > a:hover {
  color: #333;
}
.table > tbody > tr > td.actions > a + a {
  margin-left: 5px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-left {
  display: flex;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.flex-top {
  display: flex;
  align-items: flex-start;
}
.flex-middle {
  display: flex;
  align-items: center;
}
.flex-bottom {
  display: flex;
  align-items: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.f1 {
  flex: 1;
  flex-basis: auto;
}

.f2 {
  flex: 2;
  flex-basis: auto;
}

.f3 {
  flex: 3;
  flex-basis: auto;
}

.f4 {
  flex: 4;
  flex-basis: auto;
}

.f5 {
  flex: 5;
  flex-basis: auto;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.row {
  width: 100%;
}
.row + .row {
  margin-top: 15px;
}

.col + .col {
  margin-left: 15px;
}

.login-body {
  height: 100%;
  min-height: 450px;
}

.login-container {
  width: 300px;
  background-color: #FFF;
  padding: 33px 33px 15px;
  border-top: 5px solid #0088cc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

div.page {
  display: inline-block;
}
div.page > ul.pagination {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.page > ul.pagination > li {
  display: inline;
}
div.page > ul.pagination > li.active > a {
  background-color: #0088cc;
  color: #fff;
}
div.page > ul.pagination > li.disabled > a {
  background-color: #fff;
  color: #777;
  cursor: not-allowed;
}
div.page > ul.pagination > li:first-child > a {
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
div.page > ul.pagination > li:last-child > a {
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
div.page > ul.pagination > li:not(.disabled):not(.active):hover > a {
  background-color: #eee;
}
div.page > ul.pagination > li > a {
  display: inline-block;
  position: relative;
  float: left;
  text-decoration: none;
  padding: 6px 12px;
  margin-left: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0088cc;
}

div.search {
  display: inline-block;
  position: relative;
  width: 100%;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.search > div.search-header {
  display: flex;
  align-items: center;
}
div.search > div.search-header > .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-right: 1px solid #E9E9E6;
  cursor: pointer;
}
div.search > div.search-header > .search-icon:hover {
  color: #0088cc;
}
div.search > div.search-header:before {
  position: absolute;
  left: 50px;
  margin-left: 15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  content: attr(data-result);
}
div.search > div.search-header.active:before {
  font-weight: 500;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
div.search > div.search-body {
  text-overflow: ellipsis;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #E9E9E6;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0;
  border-radius: 0 0 4px 4px;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
div.search > div.search-body > div.search-container {
  padding: 20px;
}
div.search.show > div.search-body {
  max-height: 500px;
  overflow: auto;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

div.dialog {
  display: none;
}
div.dialog.show {
  display: inline-block;
}

div.dialog-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: calc(100% - 60px);
  z-index: 1001;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
div.dialog-container > .box {
  width: 60%;
  min-width: 300px;
  position: relative;
  max-width: 100%;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
div.dialog-container > .box.sm {
  width: 25%;
}
div.dialog-container > .box.md {
  width: 60%;
}
div.dialog-container > .box.lg {
  width: 100%;
}
div.dialog-container > .box > .header {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #E9E9E6;
}
div.dialog-container > .box > .header > .close {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
}
div.dialog-container > .box > .body {
  overflow: auto;
  max-height: calc(100vh - 200px);
}
div.dialog-container > .box > .body > .body-container {
  padding: 20px;
}
div.dialog-container > .box > .footer {
  width: 100%;
  border-top: 1px solid #E9E9E6;
  padding: 10px 20px;
}

div.dialog-container + div.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

span.must:before {
  content: '＊';
  color: #d2322d;
}

.loading-overlay {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}

@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.hide {
  display: none !important;
}
